<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div style="background: #4e73df;">
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-4 p-4 bg-white shadow box-area">
        <div class="col-md-5 rounded-3 d-flex justify-content-center align-items-center flex-column left-box" style="background: #4e73df;">
            <div class="featured-image mb-3">
                <img src="/static/images/hinh2.jpg" class="img-fluid" style="width: 300px;">
            </div>
        </div>
        <div class="col-md-7 right-box">
            <form action="/register" method="POST" id="register" th:object="${ThanhVien}">
                <div class="row align-items-center">
                    <div class="header-text mb-4 text-center">
                        <h2>ĐĂNG KÝ</h2>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" th:field="*{maTV}" name="maTV" placeholder="Mã Thành Viên">

                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" th:field="*{ten}" name="ten" placeholder="Họ và tên">

                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" th:field="*{nganh}" name="nganh" placeholder="Tên Nghành">

                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" th:field="*{khoa}" name="khoa" placeholder="Tên Khoa">
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" th:field="*{sdt}" name="sdt" placeholder="SDT">
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" th:field="*{email}" name="email" placeholder="Địa chỉ email">
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" th:field="*{password}" id="password" name="password" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" id="submitBtn" class="btn btn-lg btn-primary w-100 fs-6">Đăng Ký</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>