<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Voler Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <link rel="stylesheet" th:href="@{/css/Chart.min.css}">

    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
</head>

<body>
<div id="app"><!--Main content-->
    <span th:replace="fragments/sidebar :: sidebar"></span>
    <div id="main"><!--Content id-->
        <span th:replace="fragments/header :: header"></span>
        <div class="main-content container-fluid" layout:fragment="content"><!--dynamic content-->
            <!--you can replace this using page-->
            <h3>Quản lý thành viên</h3>
            <nav class="navbar navbar-expand-lg navbar-light bg-body">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2  mb-lg-0 ">

                            <li class="nav-item me-2" >
                                <button class="btn btn-secondary" type="submit">Thêm</button>
                            </li>
                            <li class="nav-item me-2">
                                <button class="btn btn-secondary" type="submit">Thêm từ Excel</button>
                            </li>
                            <li class="nav-item me-2">
                                <button class="btn btn-secondary" type="submit">Sửa</button>
                            </li>
                            <li class="nav-item me-2">
                                <button class="btn btn-secondary" type="submit">Xóa</button>
                            </li>
                            <li class="nav-item me-2">
                                <button class="btn btn-secondary" type="submit">Làm mới</button>
                            </li>


                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Tìm kiếm.." aria-label="Search">
                            <button class="btn btn-primary " type="submit">Tìm</button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="card" style="border: 1px black solid " >
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table class='table mb-0' id="table1">
                            <thead>
                            <tr>
                                <th>Mã TV</th>
                                <th>Họ và tên</th>
                                <th>Khoa</th>
                                <th>Ngành</th>
                                <th>Số điện thoại</th>
                                <th>Tên tài khoản</th>
                                <th>Mật khẩu</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1120150184</td>
                                <td>Trần Thị Nữ</td>
                                <td>GDTH</td>
                                <td>GDTH</td>
                                <td>1111111111</td>
                                <td>kieunu123</td>
                                <td>12345</td>
                            </tr>

                            <tr>
                                <td>1121530087</td>
                                <td>Trần Thiếu Nam</td>
                                <td>TLH</td>
                                <td>QLGD</td>
                                <td>1111111112</td>
                                <td>nam2k3</td>
                                <td>1234</td>
                            </tr>
                            <tr>
                                <td>1123330257</td>
                                <td>Ngô Tuyết Nhi</td>
                                <td>QTKD</td>
                                <td>QTKD</td>
                                <td>1111111113</td>
                                <td>nhingo25</td>
                                <td>11111</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        <span th:replace="fragments/footer :: footer"></span>
    </div>
</div>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>

<script th:src="@{/js/main.js}"></script>
</body>
</html>